.fixedWeapon {
    background: linear-gradient(135deg, #0f0f0f 0%, #1a1a1a 50%, #0a0a0a 100%);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    z-index: 10;
    flex-direction: column;
    min-width: 125px;
    min-height: 215px;
    border: 2px solid #6d6d6d;
}

.weaponCard {
    border-radius: 6px;
    padding: 0.25rem;
    transition: transform 0.3s ease;
    position: relative; /* mantém dentro do fluxo */
}

.weaponLimitCard {
    border-radius: 6px;
    padding: 0.25rem;
    transition: transform 0.3s ease;
    position: relative; /* mantém dentro do fluxo */
    margin-top: -105px;
}