/* tamanho padrão da célula */
.container {
    display: flex;
    flex-direction: row;
}

.letra,
.palavraDupla,
.palavraTripla,
.letraDupla,
.letraTripla,
.centro,
.comum {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #444;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
}

/* casa comum */
.comum {
  background-color: #f0e5d8;
}

/* multiplicadores de palavra */
.palavraDupla {
  background-color: #87ceeb; /* azul claro */
  color: #000;
}

.palavraTripla {
  background-color: #4682b4; /* azul escuro */
  color: #fff;
}

/* multiplicadores de letra */
.letraDupla {
  background-color: #98fb98; /* verde claro */
  color: #000;
}

.letraTripla {
  background-color: #228b22; /* verde escuro */
  color: #fff;
}

/* centro */
.centro {
  background-color: #ffa07a; /* salmão */
  color: #000;
  border: 2px solid #ff4500;
}

/* letra jogada */
.letra {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  position: relative; /* importante para posicionar o value */
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  user-select: none;
}

.preview {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa07af3;
  border: 2px solid #000;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  position: relative; /* importante para posicionar o value */
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  user-select: none;
}

.char {
  z-index: 1; /* garante que a letra fique acima do value */
  color: #000;
}

.value {
  position: absolute;
  bottom: 2px;  /* afastado do canto inferior */
  right: 2px;   /* afastado do canto direito */
  font-size: 10px; /* bem pequeno */
  font-weight: normal;
  color: #000;
}

.tileString {
    font-size: 8px;
    text-align: center;
}